.App {
  text-align: center;
  display: flex;
  min-height:100vh ;
  align-items: center;
  justify-content: center;
 
  /* color: white; */
  /* background-color:linear-gradient(79deg,#7439db,#c66fbc 48%,#f7944d) */
  background-color: rgb(205, 185, 206);
} 
.auth-form-container,.login-form,.register-form{
  display:flex;
  flex-direction: column;
  /* align-items: center; */
}
label{
text-align:left;
padding: 0.25rem 0;font-weight:700;
font-size: 15px;
margin-top: 60px;


}
@media screen and (min-width:280px) {
  .auth-form-container{
    padding: 0.3rem;
    border: 0.5px solid white;
    border-radius:3px  ;
    margin: 0.2rem;
  }
  .Logo{ 
    padding: 5rem;
      border: 1px solid white;
      border-radius:10px  ;
      margin: 0.5rem;
      min-height:100vh ;}
  
}

@media screen and (min-width:400px) {
  .auth-form-container{
    padding: 5rem;
    border: 1px solid white;
    border-radius:10px  ;
    margin: 0.5rem;
  }
  .Logo{
    padding: 5rem;
    border: 1px solid white;
    border-radius:10px  ;
    margin: 0.5rem;
  }
  
}


input{
  margin: 0.25rem,0;
  padding: 1rem;
  border:none;
  border-radius: 10px;
}
button{border: none;
 background-color:#db39b3df; 
padding: 20px;
border-radius: 10px ;
cursor:pointer  ;
margin:0.5rem;
color: white;
} 
.link-btn{
  background-color: rgb(205, 185, 206);
color: black;
text-decoration:underline;
}

.sub{
  width: 330px;
  height: 60px;
}

.span{  font-size: 20px;

}
.link-btn{font-weight:500;
  font-size: 15px;}
  .prof{border-radius: 100%;}

   .email{
    height: 30px;
    width: 30px;
    position: relative;
    top: 40px;
    padding: 7px 0 0 2px;

   }
   .name{
    padding-left:50px ;
    font-size: 20px;
   }